<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>

<body class="home">
    <header class="home__header">
        <div class="home__header--box-logo">
            <img class="home__header--logo" src="/img/logo.jpg" alt="logo_kitchening">
        </div>
        <a href="" class="home__header--bars"><i class="fa fa-bars fa-lg"></i></a>
        <nav class="home__header__nav--menu">
            <ul>
                <li id="btn__active1"><a href="/">home</a></li>
                <li id="btn__active2"><a href="">quienes</a></li>
                <li id="btn__active3"><a href="">servicios</a></li>
                <li id="btn__active4"><a href="">porfolio</a></li>
                <li id="btn__active5"><a href="">sucursales</a></li>
                <li id="btn__active6"><a href="/contact">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="home__main">
        <div class="home__main__section--banner">
            <img src="/img/location_kitchening.png" alt=" banner">
        </div>

        <article class="home__main__section__article">
            <h4 class="home__main__section__article--title">Kitchening, Inc.</h4>
            <p class="home__main__section__article--description">Dirección: 🗺️ 8003 3rd Ave, Brooklyn, NY 11209,
                Estados
                Unidos</p>
            <p class="home__main__section__article--description">Correo: ✉️ kitcheningbayridge@gmail.com</p>
            <p class="home__main__section__article--description">Horario: 🕐 Cerrado ⋅ Abre a las 10:00</p>
            <p class="home__main__section__article--description">Teléfono: ☎️ +1 718-745-6400</p>
            <p class="home__main__section__article--description">Calificación:⭐ 5,0 (18 opiniones)</p>
        </article>
        <div class="home__main__section--iframe">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3028.1005504335594!2d-74.03175162350918!3d40.627664442773586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2455f4e4a28fd%3A0x7b04ee1fc8da1c3a!2sKitchening%2C%20Inc.!5e0!3m2!1ses!2sar!4v1689070175708!5m2!1ses!2sar"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
    <footer class="home__footer">
        <nav class="home__footer__nav--menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/porfolio">porfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </footer>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <script src="/js/home.js"></script>

</body>

</html>